.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {

}

#comment-add-section {
  background-image: linear-gradient(rgb(255,255,255),rgb(10,10,10));
}

.comment-entry-area {
  margin-top: 2%;
  border-color: black;
  border-width: 3px;
  width: 40%;
}

.voting-button {
  color: rgb(214, 254, 255);
  background-color: #000c24;
  border-radius: 5px;
  padding-top: .5%;
  padding-bottom: .5%;
  font-family: Courier, monospace;
  font-size: 110%;
  border-color: aliceblue;
  box-shadow: rgba(214, 254, 255, .5);
}

.vote-section {
  background-image: linear-gradient(.33turn, #000c24 30%, rgb(214, 254, 255));
  border-radius: 10px;
  margin-right: 2%;
  padding: 2.5% 2.5% 3% 2.5%;
  border-color: black;
  border-width: 10px;
}

.vote-count-num {
  color: white;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: 1px;
  font-weight: 675;
  margin-top: 10%;
  font-size: 150%;
}

.red-text {
  color: rgb(255, 30, 30);
}

.green-text {
  color: rgb(47, 225, 12)
}

.orange-text {
  color: rgb(255, 167, 59);
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center-w {
  margin-left: auto;
  margin-right: auto;
}

.j-content {
  justify-content: center;
}

.pd-top-1 {
  padding-top: 1%;
}

.mg-top-1 {
  margin-top: 1%;
}

.mg-top-4 {
  margin-top: 4%;
}

.mg-bottom-1 {
  margin-bottom: 1%;
}

.mg-left-1 {
  margin-left: 1%;
}

.mg-left-auto {
  margin-left: auto;
}

.mg-right-1 {
  margin-right: 1%;
}

.mg-bottom-2 {
  margin-bottom: 2%;
}

.pb-1 {
  padding-bottom: 1%;
}

.pb-2 {
  padding-bottom: 2%;
}

.not-logged-in-like {
  font-size: 200%;
}

.important-link {
  background-image: radial-gradient(rgba(30, 8, 109, 0.5), rgb(14, 15, 30));
  border-radius: 10px;
  padding: .5% 1%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.important-link a {
  color:rgb(7, 207, 243);
  font-size: 200%;
}

.important-link:hover {
  color:rgb(7, 207, 243);
}

@media screen and (max-width: 1144px) {
  .comment-entry-area {
    width: 65%;
  }
}

@media screen and (max-width: 932px) {
  .important-link {
    width: 80%;
  }
}

@media screen and (max-width: 622px) {
  .important-link a {
    font-size: 150%;
  }
}

.blog-card {
  background-image: radial-gradient(#000c24, #6f6f7c);
  color: white;
  padding: 5% 10%;
  border-bottom: 10px ridge white;
}

.display-post-image {
  width: 10%;
}

#post-edit-bar {
  width: 33;
  height: 10%;
  background-color: #000c24;
}

.reported-item {
  
}

.post-comment {
  border-left: 5mm solid #000c24;
}

.login-form {
  border: .5mm solid white;
  border-radius: 7px;
  padding: 3% 2%;
  background-image: linear-gradient(0.1turn, black, #000c24, rgb(38, 46, 110));;
  box-shadow: 12px 5px 5px #6f6f7c;
  color: white;
}
