.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.comment-entry-area {
  margin-top: 2%;
  border-color: black;
  border-width: 3px;
  width: 40%;
}

.voting-button {
  color: rgb(214, 254, 255);
  background-color: #000c24;
  border-radius: 5px;
  padding-top: .5%;
  padding-bottom: .5%;
  font-family: Courier, monospace;
  font-size: 110%;
  border-color: aliceblue;
  box-shadow: rgba(214, 254, 255, .5);
}

.vote-section {
  background-color: rgb(214, 254, 255);
  border-radius: 10px;
}

.red-text {
  color: rgb(255, 30, 30);
}

.green-text {
  color: rgb(47, 225, 12)
}

.orange-text {
  color: rgb(255, 167, 59);
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center-w {
  margin-left: auto;
  margin-right: auto;
}